.div-inicio-sesion {
    width: 50%;
    position: absolute;
    left: 25%;
    text-align-last: center;
    margin-top: 40px;
}

.btn-inicio-sesion {
    margin: 12px;
    background-color: #57a3d2;
    color: #fff !important;
}