:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.div-header {
    background: #dfbce56b;
}

.contenedor-header {
    display: flex;
    justify-content: center;

}

.nombre-aplicacion {
    font-size: 20px;
    padding-top: 3%;
    float: left;
}

.logo-aplicacion {
    opacity: 80%;
    max-width: 10%;
    max-height: 10%;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #b1d1fb;
    display: flex;
    justify-content: center;
}

li {
    width: 10%;
    display: list-item;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.active {
    background-color: #d9befb;
    color: rgb(0, 0, 0);
}

li a:hover {
    background-color: #d9befb;
    color: rgb(0, 0, 0);
}

.btn-menu {
    top: 0;
    right: 0;
    position: fixed;
    margin: 10px;
    background-color: #b1d1fb;
}

.div-menu {
    background: #afd2fb;
    width: fit-content;
    border-radius: 12px;
    padding: 10px;
    top: 55px;
    right: 10px;
    position: fixed;
    display: none;
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    background: #d9befb;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.div-menu-active {
    display: block;
}

.div-categoria-active {
    display: contents;
}