<header>
    <div class="div-header">
        <div class="contenedor-header">
            <img class="logo-aplicacion" src="./../../../../assets/images/logo3.png" />
        </div>
        <button class="btn btn-menu" *ngIf="isLogin()" (click)="mostrarMenu()"><i class="fa fa-user"></i></button>
        <div class="div-menu" [ngClass]="{ 'div-menu-active': menuActive }">
            <a class="dropdown-item" *ngIf="isLogin()" [routerLink]="['mi-perfil']" (click)="mostrarMenu()">Mi Perfil</a>
            <a class="dropdown-item" *ngIf="isLogin() && isProveedor()" [routerLink]="['mis-servicios']" (click)="mostrarMenu()">Mis
                servicios</a>
            <a class="dropdown-item" *ngIf="isLogin()" (click)="logOut()">Cerrar Sesión</a>
        </div>
    </div>
    <div *ngIf="isLogin()">
        <ul>
            <li><a routerLinkActive="active" [routerLink]="['productos']">Productos</a></li>
            <li><a routerLinkActive="active" [routerLink]="['inicio-cuidado-animal']">Negocios</a></li>
            <li><a routerLinkActive="active" [routerLink]="['blog-cuidado-animal']">Blog</a></li>
        </ul>
    </div>
</header>