:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.div-header {
    background: #dfbce56b;
}

.contenedor-header {
    display: flex;
    justify-content: center;

}

.nombre-aplicacion {
    font-size: 20px;
    /* padding-left: 20px; */
    padding-top: 3%;
    float: left;
}

.logo-aplicacion {
    opacity: 80%;
    max-width: 10%;
    max-height: 10%;
    float: left;
}