<div class="div-principal-blog">
  <div class="card text-center div-blog" [formGroup]="publicacion">
    <h5>Nueva publicación</h5>
    <div class="card-body">
      <input type="text" class="card-title" placeholder="Titulo" formControlName="titulo"><br><br>
      <textarea placeholder="Descripción" formControlName="descripcion"></textarea>
    </div>
    <a class="btn btn-primary" (click)="guardarPublicacion()">Publicar</a>
  </div>
</div>

<div class="div-principal-blog">
  <div class="card text-center div-blog" *ngFor="let blog of datosBlog">
    <div class="card-header">
      <b>Usuario: </b>{{blog.usuario.nombreRazonSocial}}
    </div>
    <img src="{{blog.imagen}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{blog.titulo}}</h5>
      <p class="card-text">{{blog.descripcion}}</p>
    </div>
    <div class="card-footer text-muted">
      {{blog.fecha | date:'dd MMMM yyyy'}}
    </div>
  </div>
  <a href="#" class="btn btn-primary">Ver más</a>
</div>