<div class="div-principal-blog">
    <div class="card text-center div-blog" *ngFor="let blog of datosBlog">
    <div class="card-header">
        {{blog.categoria}}
    </div>
    <img src="{{blog.imagen}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{blog.titulo}}</h5>
      <p class="card-text">{{blog.descripcion}}</p>
    </div>
    <div class="card-footer text-muted">
      {{blog.fechaPublicacion}}
    </div>
  </div>
  <a href="#" class="btn btn-primary">Ver más</a>
</div>