<div class="div-servicios" [formGroup]="nuevoServicio">
    <h1>Mis Servicios</h1><br>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
        <tr *ngFor="let servicio of datosServicios">
            <td>
                <input type="text" id="nombre" [value]="servicio.nombre" [disabled] = "noEditar">
            </td>
            <td>
                <textarea id="descripcion" [value]="servicio.descripcion" [disabled] = "noEditar"></textarea>
            </td>
            <td id="precio">
                $<input type="number" id="precio" [value]="servicio.precio" [disabled] = "noEditar">
            </td>
            <td>
                <select id="categoria" [value]="servicio.categoria" [disabled] = "noEditar">
                    <option value="accesorios">Accesorios</option>
                    <option value="spa">Spa</option>
                    <option value="entretenimiento">Entretenimiento</option>
                </select>
            </td>
            <td>
                <button class="btn btn-editar"><i class="fa fa-edit" id="editar-{{servicio.id}}"
                        (click)="guardarNuevoServicio($event.target.id)"></i></button>
            </td>
        </tr>
        <tr *ngIf="agregarServicio">
            <td>
                <input type="text" id="nombre" formControlName="nombre">
            </td>
            <td>
                <textarea id="descripcion"  formControlName="descripcion"></textarea>
            </td>
            <td>
                $<input type="number" id="precio" formControlName="precio">
            </td>
            <td>
                <select id="categoria" value="" formControlName="categoria">
                    <option value="">Seleccione una opción</option>
                    <option [value]="cat.nombre" *ngFor="let cat of categorias">{{cat.nombre}}</option>
                </select>
            </td>
            <td>
                <button class="btn btn-editar" (click)="guardarNuevoServicio()"><i class="fa fa-save"></i></button>
            </td>
        </tr>
    </table>
    <button class="btn btn-agregar" (click)="agregarNuevoServicio(true)"><i class="fa fa-plus"></i> Agregar
        servicio</button>
    <button class="btn btn-cancelar" *ngIf="agregarServicio" (click)="agregarNuevoServicio(false)"><i
            class="fa fa-cancel"></i> Cancelar</button>
</div>