<div class="row">
    <label for="categoria">Filtro: </label><br>
    <select name="categoria" id="categoria" value="" (change)="filtrarPorCategoria($event)">
      <option value="">Seleccione una opción</option>
      <option [value]="categoria.nombre" *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
    </select><br><br>
    <div class="column" *ngFor="let producto of productosFiltrados">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <span><b>Precio:</b> ${{producto.precio}}</span><br>
                <span><b>Proveedor:</b> {{producto.usuario.nombreRazonSocial}}</span><br>
                <span><b>Contacto:</b> {{producto.usuario.celular}}</span><br>
                <span><b>Dirección:</b> {{producto.usuario.direccion.descripcion}}</span><br>
                <span *ngIf="producto.resenias !== null"><b>Calificación:</b> {{producto.resenias}}</span><br>
                <a class="btn btn-primary" (click)="openDialog(producto.idProducto, true)">Ver reseñas</a>
                <a class="btn btn-primary" (click)="openDialog(producto.idProducto, false)">Calificar</a>
            </div>
        </div>
    </div>
</div>