<div class="div-principal">
    <button class="btn btn-regresar" (click)="regresar()">
        <i class="fa fa-arrow-left"></i>
    </button>
    <h2><b>Iniciar sesión</b><br></h2>
    <form [formGroup]="inicioSesion">
        <input type="email" name="email" placeholder="Correo electrónico" formControlName="correoElectronico">
        <br><br>
        <input type="password" name="contrasena" placeholder="Contraseña" formControlName="contrasenia">
        <br>
        <button class="btn btn-inicio-sesion" (click)="iniciarSesion()">Iniciar sesión</button>
    </form>
</div>