<div class="row"> 
    <div class="column-perfil">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{informacionProveedor['nombreRazonSocial']}}</h5>
                <span><b>Correo electronico:</b> {{informacionProveedor['correo']}}</span><br>
                <span><b>Número de contacto:</b> {{informacionProveedor['celular']}}</span><br>
                <span><b>Dirección:</b> {{direccion}}</span><br>
            </div>
        </div>
    </div>
</div>
<div class="row"><br><br>
    <h2 class="card-title"><b>Productos</b></h2>
    <div class="column" *ngFor="let producto of informacionProductosProveedor">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{producto.descripcion}}</h5>
                <span><b>Precio:</b> ${{producto.precio}}</span><br>
                <span *ngIf="producto.resenias !== null"><b>Calificación:</b> {{producto.resenias}}</span><br>
                <a class="btn btn-primary" (click)="openDialog(producto.idProducto, true)">Ver reseñas</a>
            </div>
        </div>
    </div>
</div>

