ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #b1d1fb;
    display: flex;
    justify-content: center;
}

li {
    width: 10%;
    display: list-item;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.active {
    background-color: #d9befb;
    color: rgb(0, 0, 0);
}

li a:hover {
    background-color: #d9befb;
    color: rgb(0, 0, 0);
}