<div class="div-perfil">
  <img class="img-perfil" src="./../../../assets/images/logo.png" />
  <h1>Registro</h1>
  <form [formGroup]="datosPerfil" *ngIf="datosPerfil">
    <label for="rol">Rol</label><br>
    <select name="rol" id="rol" value="" formControlName="rol">
      <option value="">Seleccione una opción</option>
      <option [value]="rol.nombre" *ngFor="let rol of roles">{{rol.nombre}}</option>
    </select><br><br>

    <label for="razonSocial">Nombre Completo</label><br>
    <input type="text" id="razonSocial" name="razonSocial" value="" formControlName="razonSocial"><br><br>

    <label for="tipoDocumento">Tipo de Documento</label><br>
    <select name="tipoDocumento" id="tipoDocumento" value="" formControlName="tipoDocumento">
      <option value="">Seleccione una opción</option>
      <option [value]="id.nombre" *ngFor="let id of tipoIdentificaciones">{{id.descripcion}}</option>
    </select><br><br>

    <label for="numeroDocumento">Número Documento</label><br>
    <input type="number" id="numeroDocumento" name="numeroDocumento" value="" formControlName="numeroDocumento"
    ><br><br>

    <label for="numeroContacto">Número de Contacto</label><br>
    <input type="number" id="numeroContacto" name="numeroContacto" value="" formControlName="numeroContacto"
    ><br><br>
<!-- 
    <label for="ciudad">Ciudad</label><br>
    <input type="text" id="ciudad" name="ciudad" value="" formControlName="ciudad"><br><br> -->

    <label for="direccion">Dirección</label><br>
    <textarea id="direccion" name="direccion" value="" formControlName="direccion"></textarea><br><br>

    <!-- <button class="btn btn-editar" (click)="editarDatosUsuario()" [hidden]="editarCampos"><i class="fa fa-edit"></i> Editar</button> -->
    <button class="btn btn-editar" (click)="guardarDatosNuevos()" [hidden]="!editarCampos"><i class="fa fa-save"></i> Guardar</button>
    <button class="btn btn-editar" (click)="cancelarModificacion()" [hidden]="!editarCampos"><i class="fa fa-cancel"></i> Cancelar</button>

  </form>
</div>