<div class="div-perfil">
    <img class="img-perfil" src="./../../../assets/images/logo.png" />
    <h1>Información Personal</h1>
    <form [formGroup]="datosPerfil">
        <label for="nombres">Nombres:</label><br>
        <input type="text" id="nombres" name="nombres" value="" formControlName="nombres" disabled><br><br>
        <label for="apellidos">Apellidos:</label><br>
        <input type="text" id="apellidos" name="apellidos" value="" formControlName="apellidos" disabled><br><br>
        <label for="correoElectronico">Correo Electronico:</label><br>
        <input type="text" id="correoElectronico" name="correoElectronico" value="" formControlName="correoElectronico" disabled><br><br>
        <label for="numeroContacto">Número de Contacto:</label><br>
        <input type="text" id="numeroContacto" name="numeroContacto" value="" formControlName="numeroContacto" disabled><br><br>
        <button class="btn btn-editar"><i class="fa fa-edit"></i> Editar</button>
        <!-- <input type="submit" value="Submit"> -->
      </form> 
</div>