<div class="div-resenia" *ngIf="verResenia === 'true'" [formGroup]="resenia">
    <div class="div-comments">
        <p><b>Calificación: </b>{{puntaje}}</p>
        <div class="container-resenia" *ngFor="let comentario of comentarios">
            <p>{{comentario}}</p>
        </div>
        <div class="div-button-close">
            <button class="btn btn-cancelar" (click)="closeDialog()">X</button>
        </div>
    </div>
</div>
<div class="div-resenia" *ngIf="verResenia === 'false'" [formGroup]="resenia">
    <label for="puntaje">Puntaje</label>
    <select name="puntaje" id="puntaje" value="" formControlName="puntaje">
        <option value="">Seleccione una opción</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br><br>
    <label>Comentario</label>
    <textarea placeholder="Deja tu comentario" formControlName="comentario"></textarea>
    <button class="btn btn-aceptar" (click)="guardarResenia()"><i class="fa fa-check"></i></button>
    <button class="btn btn-cancelar" (click)="closeDialog()">X</button>
</div>